<mat-toolbar color="secondary">
  <span>Star Wars Characters</span>
</mat-toolbar>

<mat-list>
  <mat-list-item *ngFor="let character of characters">
    <h3 mat-line>{{character.name}}</h3>
    <p mat-line>Height: {{character.height}}</p>
    <p mat-line>Weight: {{character.weight}}</p>
    <p mat-line>Hair Color: {{character.hair_color}}</p>
    <p mat-line>Skin Color: {{character.skin_color}}</p>
    <p mat-line ngSwitch="{{character.eye_color}}">Eye Color:
      <span *ngSwitchCase="'blue'" [style.color]="'blue'">{{character.eye_color}}</span>
      <span *ngSwitchCase="'red'" [style.color]="'red'">{{character.eye_color}}</span>
      <span *ngSwitchCase="'brown'" [style.color]="'brown'">{{character.eye_color}}</span>
      <span *ngSwitchCase="'orange'" [style.color]="'orange'">{{character.eye_color}}</span>
      <span *ngSwitchCase="'yellow'" [style.color]="'yellow'" [style.background]="'black'">{{character.eye_color}}</span>
      <span *ngSwitchDefault>unknown</span>
    </p>
    <p mat-line>Birth Date: {{character.birth_year}}</p>
    <p mat-line>Gender: {{character.gender}}</p>
  </mat-list-item>
</mat-list>
