<h3>{{character.name}}</h3>
Height: {{character.height}}<br>
Weight: {{character.weight}}<br>
Hair color: {{character.hair_color}}<br>
Skin color: {{character.skin_color}}<br>
Eye color: {{character.eye_color}}<br>
Birth date: {{character.birth_date}}<br>
Gender: {{character.gender}}<br>
