<mat-toolbar color="secondary">
  <span>Star Wars Movies</span>
</mat-toolbar>

<mat-list>
  <mat-list-item *ngFor="let movie of movies">
    <h3 mat-line>Episode {{movie.episode_id}} - {{movie.title}}</h3>
    <p mat-line>Release date: {{movie.release_date | date: 'fullDate'}}</p>
    <p mat-line>Director: {{movie.director}}</p>
    <p mat-line>Producer: {{movie.producer}}</p>
    <p mat-line>Opening crawl:</p>
    <p mat-line class="wrap">{{movie.opening_crawl}}</p>
  </mat-list-item>
</mat-list>
