<mat-toolbar color="primary">
  <mat-toolbar-row>{{ title }}</mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-raised-button color="accent" routerLink="/movies">Movies</button>
    <button mat-raised-button color="accent" routerLink="/characters">Characters</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <mat-card-title>Trollbox</mat-card-title>
    <mat-card-subtitle>Post a Rant</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="trollForm" (ngSubmit)="createRant(trollForm.value)">
      <mat-form-field>
        <textarea matInput placeholder="Rant" formControlName="rant"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Troll" type="text" formControlName="troll">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!trollForm.valid">Post a Rant</button>
    </form>
  </mat-card-content>
  <mat-card-actions></mat-card-actions>
</mat-card>

<router-outlet></router-outlet>
